# Project specifics
build/
*.bin
*.bmp
*.idea
*.png

# Copied from https://github.com/github/gitignore/blob/f273474b975f0f2888750a854572562db6de318e/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
